# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore all levels of node_modules
node_modules/
**/node_modules/

# Ignore environment variables and build files
.env
backend/.env
frontend/.env
build/
dist/

# Ignore operating system clutter
.DS_Store
Thumbs.db